<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<h1 style="color: blue; margin: 40px; font-weight: 900; font-size: 40px;">Hello, Welcome to Text and Sentiment Analyser</h1>
  <form action="" method="post" name="inputText">
    <fieldset style="border: none;">
      <legend>Input text</legend>
      {{ form.hidden_tag() }}
      <div style = font-size:20px; font-weight:bold; margin-left:150px;>
        <p>
          <div style="margin-bottom: 5px;">Enter your text here:</div><br />
          {{ form.inputText(size=400, placeholder="Write something ...") }}<br />
          {% for error in form.inputText.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br />
        </p>
        <p style="visibility: hidden; font-size: 0.1px; margin: -10px; padding: 0;">User text - Language:<br />
            <input type="radio" name="lang" value="EN" checked="checked">English
    </fieldset>
    <fieldset style="border: none;">
      <legend>Tools available</legend>
        <nav>
          <button class="big-btn" name="action-button" type="submit" value="TA" style="color: blue; font-weight: 500;">Basic Text Analyser</button>
          <button class="big-btn" type="submit" value="SA" style="color: blue; font-weight: 500;">Sentiment Analyser</button>
        </nav>
      </div>
    </fieldset style="border: none;">
  </form>
{% endblock %}
